{% from 'render_field.html' import render_field %}
{% extends "base.html" %}

{% block title %} Форма {% endblock %}

{% block content %}

<h1>Form page</h1>
<br>
<div class="d-flex justify-content-center align-items-center">
    <div class="mt-4">
        <form action={{url_for("form")}}  method="POST" novalidate>
            {{ form.csrf_token }}
            {{ render_field(form.username)}}
            {{ render_field(form.password)}}
            <div class="form-check">
                {{form.remember()}} {{form.remember.label()}}
            </div>
            <br>
            <div class="button-container">
                {{form.submit()}}
            </div>
        </form>
    </div>
</div>

{% endblock %}