{% extends "base.html" %}

{% block title %}Анастасія Кліщ - Портфоліо{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="text-left">
        <h1>Вітаю!</h1>
        <br>
        <p>Мене звуть Анастасія Кліщ, і це моє портфоліо.</p>
        <p>Тут ви знайдете інформацію про мої деякі мої навички.</p>
        <p>Насамперед мушу попередити, що це все створено у навчальних цілях і не є справжнім портфоліо.</p>
        <p>Приємного перегляду!</p>
    </div>
</div>

<div class="container">
    {% include "footer.html" %}
</div>

{% endblock %}
